body {
	padding: 0 30px;
	font-size: 16px;
    line-height: 26px;
    font-family: "Arial", sans-serif;
    color: #222222;
    background: #F5FFFA;
}

.container {
}

.c1 {
	background-color: #CCFFCC;
}
.c2 {
	background-color: #99FF99;
}
.c3 {
	background-color: #66FF99;
}